wheel
jupyterlab
numpy
scipy
joblib
threadpoolctl
scikit-learn
matplotlib
xgboost
ipywidgets
dask[complete]
rasterio
fiona
memory_profiler
tune_sklearn
scikit-optimize
bayesian-optimization
ipyparallel