wheel
jupyterlab
numpy
scipy
joblib
threadpoolctl
scikit-learn
matplotlib
xgboost
lightgbm
catboost
ipywidgets
dask[complete]
dask-cuda
dask-ml
rasterio
fiona
memory_profiler
modin[all]
ray[tune]
tune_sklearn
scikit-optimize
tqdm
bayesian-optimization